body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FAFAFA;
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.5s ease;
}

.calculator {
    text-align: center;
    width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: auto;
    z-index: 20;
    transition: all 0.5s ease;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.solve-button {
    background-color: #02b80f;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.tab-selector {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #ddd;
    outline: 1px solid #02b80f;
    outline-offset: -1px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    width: calc(25% - 10px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
}

button:active {
    background-color: #ddd;
}

#clear-button, #basicclear {
    background-color: #ff5959; /* Red */
    color: white;
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: scale(0.95);
}

#add-button, #subtract-button, #multiply-button, #divide-button {
    background-color: #005ec9; /* Blue */
    color: white;
}

.tab-button.active#askava-button {
    background: linear-gradient(90deg, #70b0f019, #6710f21d, #70b0f01c);
    color: rgba(0, 0, 255, 0.819);
    outline: 1px solid #6302b88c;
    outline-offset: -1px;
}

#askava-button:hover {
    background: linear-gradient(90deg, #70b0f019, #6710f21d, #70b0f01c);
    color: #0000ff;
}

#askava-button:active {
    background: linear-gradient(90deg, #70b0f019, #6710f21d, #70b0f01c);
    outline: 1px solid #6302b8;
    outline-offset: -1px;
}

.functions-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    background-image: radial-gradient(#d2dadf 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    min-width: 300px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 0;
    right: 0;
    transition: right 0.5s ease;
}

.functions-panel.active {
    right: -320px;
}

.extra-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    background-image: radial-gradient(#d2dadf 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 400px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease;
}

.extra-panel.active {
    left: -420px;
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 360px;
    border: none;
}

.search-bar {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #70b0f019, #6710f21d, #70b0f01c);
    background-size: 200% 100%;
    border-radius: 25px;
    width: calc(100%);
    box-sizing: border-box;
    outline: 1px solid #65656548;
    animation: shimmerBackground 4s linear infinite;
}

@keyframes shimmerBackground {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}

.search-input {
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    color: #454545af;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #454545af;
    opacity: 1;
}

.voiceflow-iframe {
    width: 100%;
    height: 300px;
    border: none;
    overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .calculator {
        width: 100%;
    }

    .functions-panel, .extra-panel {
        max-width: 100%;
        min-width: 100%;
        left: 0;
        right: 0;
    }
}
